@charset "utf-8";

//@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
$family-sans-serif: 'Fira Sans', serif;
$family-monospace: 'JetBrains Mono', Consolas, 'Ubuntu Mono', monospace;

$footer-padding: 3rem 1.5rem;

@import "../node_modules/bulma/bulma.sass";