@page
@model Qark.Web.Pages.LearnModel
@{
    ViewData["Title"] = "Learn";
}
<section class="section">
    <div class="container content">
        <h1>Welcome to Qark</h1>
        <p>Welcome to the interactive tour of the <em>Qark programming language</em>.</p>
        <p>The tour gives an overview of this powerful and expressive language which compiles directly to efficient, native machine code.</p>
        <h2>What is Qark?</h2>
        <p>Coming soon...</p>
    </div>
</section>