@{
    ViewData["Title"] = "Download";
}

<section class="section">
    <div class="container">
        <h1 class="title">Downloads</h1>
        <p>Latest version: <strong>0.0.1</strong></p>
        <p>Currently Ion compiler is <em>under development</em>.</p>
        <p>Download the Ion source code or a pre-built installer for your platform, and start developing today.</p>
        <hr />
        <div class="columns has-text-centered">
            <div class="column">
                <h2 class="subtitle">
                    <span class="icon">
                        <span class="icon">
                            <i class="mdi mdi-windows mdi-24px"></i>
                        </span>
                    </span>
                    <span>Windows</span>
                </h2>
                <a class="button is-warning is-medium" disabled>Download x86</a>
                <p class="has-text-grey">ion-v0.0.1-win32.zip</p>
                <br />
                <a class="button is-warning is-medium" disabled>Download x64</a>
                <p class="has-text-grey">ion-v0.0.1-win64.zip</p>
            </div>
            <div class="column">
                <h2 class="subtitle">
                    <span class="icon">
                        <span class="icon">
                            <i class="mdi mdi-apple mdi-24px"></i>
                        </span>
                    </span>
                    <span>macOS</span>
                </h2>
                <a class="button is-warning is-medium" disabled>Download x64</a>
                <p class="has-text-grey">ion-v0.0.1-mac64.zip</p>
            </div>
            <div class="column">
                <h2 class="subtitle">
                    <span class="icon">
                        <i class="mdi mdi-cube-outline mdi-24px"></i>
                    </span>
                    <span>Source code</span>
                </h2>
                <a class="button is-warning is-medium" disabled>Download</a>
                <p class="has-text-grey">ion-v0.0.1-src.zip</p>
            </div>
        </div>
    </div>
</section>