<section class="section has-text-centered">
    <img src="~/qark-logo.svg" height="150" width="150" alt="Ion" />
    <h1 class="title is-2 is-spaced">Qark Programming Language</h1>
    <p class="title" id="animatedText"
       data-strings='[ "Object-oriented", "Imperative", "📦 Compiled", "General-purpose", "📱 Cross-platform", "🚀 Fast", "Free", "Open source"]'></p>
    <span class="button is-static has-background-warning">Currently under development</span>
</section>


<section class="section has-background-light">
    <div class="container">
        <h2 class="title is-3 has-text-centered">Why Qark?</h2>
        <div class="columns is-multiline">
            <div class="column is-one-third">
                <article class="notification media">
                    <figure class="media-left">
                        <span class="icon has-text-danger is-size-3">
                            <i class="bi bi-speedometer"></i>
                        </span>
                    </figure>
                    <div class="media-content is-clipped">
                        <div class="content">
                            <h2 class="title is-size-4">Fast</h2>
                            <p class="subtitle is-size-5">
                                Qark is fast and memory-efficient compiled language. No garbage collector, no overhead.
                                Fast write, fast compile, fast run
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column is-one-third">
                <article class="notification media">
                    <figure class="media-left">
                        <span class="icon has-text-link is-size-3">
                            <i class="bi bi-terminal"></i>
                        </span>
                    </figure>
                    <div class="media-content is-clipped">
                        <div class="content">
                            <h2 class="title is-size-4">Cross-platform</h2>
                            <p class="subtitle">
                                Qark is designed to be compiled on Windows, Linux and macOS with unified building process and one IDE across operating systems
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column is-one-third">
                <article class="notification media">
                    <figure class="media-left">
                        <span class="icon has-text-grey is-size-3">
                            <i class="bi bi-github"></i>
                        </span>
                    </figure>
                    <div class="media-content is-clipped">
                        <div class="content">
                            <h2 class="title is-size-4">Free</h2>
                            <p class="subtitle">
                                The language is free and open source. The Qark compiler and tools are all written in C# and licensed under the MIT license
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column is-one-third">
                <article class="notification media">
                    <figure class="media-left">
                        <span class="icon has-text-info is-size-3">
                            <i class="bi bi-code-slash"></i>
                        </span>
                    </figure>
                    <div class="media-content is-clipped">
                        <div class="content">
                            <h2 class="title is-size-4">Syntax</h2>
                            <p class="subtitle">
                                Qark is a general-purpose programming language with static typing, modern self-documented syntax like C#, Java, Kotlin, Swift
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column is-one-third">
                <article class="notification media">
                    <figure class="media-left">
                        <span class="icon has-text-primary is-size-3">
                            <i class="bi bi-cpu"></i>
                        </span>
                    </figure>
                    <div class="media-content is-clipped">
                        <div class="content">
                            <h2 class="title is-size-4">Design</h2>
                            <p class="subtitle">
                                Qark offers low-level features for call native libraries as well as high-level classes, interfaces, Unicode support, concurency etc.
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column is-one-third">
                <article class="notification media">
                    <figure class="media-left">
                        <span class="icon is-size-3">
                            <i class="bi bi-box-seam"></i>
                        </span>
                    </figure>
                    <div class="media-content is-clipped">
                        <div class="content">
                            <h2 class="title is-size-4">Packages</h2>
                            <p class="subtitle">
                                Modular system with package manager allows import source code and compiled libraries from repositories
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title is-3 has-text-centered">Syntax</h2>
        <pre>
        <code class="lang-qark line-numbers">
                /*
                    Qark programming language
                    Console application
                */

                import "Console";
                use System;

                // Entry point
                func Main()
                {
                    var con = Console();
                    con.WriteLine("Hello World");
                    con.WriteLine("Привет мир");
                    con.WriteLine("你好，世界");
                    var str = con.ReadLine();
                    var words = Split(str);
                    for(var i = 0; i &lt; words.Length; i++)
                        con.WriteLine(words[i]);
                }

                // Returns an array of words
                func Split(str: String): String[] =>
                    str.Split(' ');

                // Swaps two integer values
                func Swap(x: *Int, y: *Int)
                {
                    var tmp = *x;
                    *x = *y;
                    *y = tmp;
                }

                // Generic function returns maximum value
                func Max&lt;T&gt;(x: T, y: T): T
                {
                    return x >= y ? x : y;
                }
            </code>
        </pre>
    </div>
</section>

<section class="section">

</section>